body {
    background-color: lavender;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: rgb(168, 14, 14);
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
  }
  .table {
    margin-top: 10px; /* Agrega espacio encima de la tabla */
  }  
  .btn {
    background-color: purple;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 8px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px; /* Agrega espacio debajo del botón */
  }
  
  .btn:hover {
    background-color: darkpurple;
  }
  
  .table {
    background-color: rgba(255, 255, 255, 0.5);
    /* Agrega aquí estilos adicionales para la tabla si lo deseas */
  }
  .search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .search-input {
    margin-right: 5px;
  }